openapi: 3.1.0
info:
  title: Minha API
  version: 1.0.0
  description: |
    Documentação completa da API.

    Consulte as páginas de fluxo para entender como autenticar
    e usar os endpoints corretamente.
  contact:
    name: Suporte
    email: suporte@exemplo.com

servers:
  - url: https://api.exemplo.com/v1
    description: Produção
  - url: https://sandbox.api.exemplo.com/v1
    description: Sandbox

security:
  - bearerAuth: []

tags:
  - name: Autenticação
    description: Endpoints para geração e renovação de tokens
  - name: Usuários
    description: Gerenciamento de usuários

paths:
  /auth/token:
    post:
      summary: Gera um token de acesso
      tags: [Autenticação]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client_id, client_secret]
              properties:
                client_id:
                  type: string
                  example: "app_abc123"
                client_secret:
                  type: string
                  example: "secret_xyz789"
      responses:
        "200":
          description: Token gerado com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "401":
          description: Credenciais inválidas
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /users:
    get:
      summary: Lista usuários
      tags: [Usuários]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        "200":
          description: Lista paginada de usuários
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
        "401":
          $ref: "#/components/responses/Unauthorized"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Token ausente ou inválido
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: "Bearer"
        expires_in:
          type: integer
          description: Validade em segundos
          example: 3600

    UserList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/User"
        pagination:
          $ref: "#/components/schemas/Pagination"

    User:
      type: object
      properties:
        id:
          type: string
          example: "usr_abc123"
        name:
          type: string
          example: "Maria Silva"
        email:
          type: string
          example: "maria@exemplo.com"

    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        total:
          type: integer
          example: 143

    Error:
      type: object
      properties:
        code:
          type: string
          example: "UNAUTHORIZED"
        message:
          type: string
          example: "Token inválido ou expirado"
